bcolz == 1.1.2
h5py == 2.7.1
losswise == 2.0
matplotlib == 2.1.1
numpy_ringbuffer == 0.2.1
pandas == 0.22.0
pillow == 5.0.0
pyyaml == 3.12
scipy == 1.0.0
seaborn == 0.8.1
stringcase == 1.2.0
tables == 3.4.2
torch == 0.4.0
-e git+https://github.com/davidlmorton/vision.git@a68857e#egg=torchvision-0.2.99
